<div class="mb-4">
  <label for="email" class="form-label">Email</label>
  <input id="email" name="email"
         {% if (contact.id) %}form="edit-form"{%  endif %}
         type="email"
         value="{{ contact.email ?? '' }}"
         class='form-control{{ contact.errors.email ? ' is-invalid' : '' }}'
         {% if (contact.errors.email ) %}aria-describedby="emailStatus"{% endif %}
         placeholder="Email" />
  {% if (contact.errors.email ) %}
  <span id="emailStatus" class="invalid-feedback">{{ contact.errors.email }}</span>
  {% endif %}
</div>
<div class="mb-4">
  <label for="first_name" class="form-label">First Name</label>
  <input id="first_name" name="first_name"
         {% if (contact.id) %}form="edit-form"{%  endif %}
         type="text"
         value="{{ contact.first ?? '' }}"
         class='form-control{{ contact.errors.first_name ? ' is-invalid' : '' }}'
         {% if (contact.errors.first_name ) %}aria-describedby="firstStatus"{% endif %}
         placeholder="First Name" />
  {% if (contact.errors.first_name ) %}
  <span id="firstStatus" class="invalid-feedback">{{ contact.errors.first_name }}</span>
  {% endif %}
</div>
<div class="mb-4">
  <label for="last_name" class="form-label">Last Name</label>
  <input id="last_name" name="last_name"
         {% if (contact.id) %}form="edit-form"{%  endif %}
         type="text"
         value="{{ contact.last ?? '' }}"
         class='form-control{{ contact.errors.last_name ? ' is-invalid' : '' }}'
         {% if (contact.errors.last_name ) %}aria-describedby="lastStatus"{% endif %}
         placeholder="Last Name" />
  {% if (contact.errors.last_name ) %}
  <span id="lastStatus" class="invalid-feedback">{{ contact.errors.last_name }}</span>
  {% endif %}
</div>
<div class="mb-4">
  <label for="phone" class="form-label">Phone</label>
  <input id="phone" name="phone"
         {% if (contact.id) %}form="edit-form"{%  endif %}
         type="tel"
         value="{{ contact.phone ?? '' }}"
         class="form-control{{ contact.errors.phone ? ' is-invalid' : '' }}"
         {% if (contact.errors.phone ) %}aria-describedby="phoneStatus"{% endif %}
         placeholder="###-###-####" />
  {% if (contact.errors.phone ) %}
  <span id="phoneStatus" class="invalid-feedback">{{ contact.errors.phone }}</span>
  {% endif %}
</div>
