<div class="mb-3">
  <label for="email" class="form-label">Email</label>
  <input id="email" name="email"
         {% if (contact.id) %}form="edit-form"{%  endif %}
         type="email"
         value="{{ contact.email ?? '' }}"
         class='form-control{{ contact.errors['email'] ? ' is-invalid' : '' }}'
         aria-describedby="emailStatus"
         placeholder="Email" />
  <span id="emailStatus" class="invalid-feedback">{{ contact.errors['email'] }}</span>
</div>
<div class="mb-3">
  <label for="first_name" class="form-label">First Name</label>
  <input id="first_name" name="first_name"
         {% if (contact.id) %}form="edit-form"{%  endif %}
         type="text"
         value="{{ contact.first ?? '' }}"
         class='form-control{{ contact.errors['first'] ? ' is-invalid' : '' }}'
         aria-describedby="firstStatus"
         placeholder="First Name" />
  <span id="firstStatus" class="invalid-feedback">{{ contact.errors['first'] }}</span>
</div>
<div class="mb-3">
  <label for="last_name" class="form-label">Last Name</label>
  <input id="last_name" name="last_name"
         {% if (contact.id) %}form="edit-form"{%  endif %}
         type="text"
         value="{{ contact.last ?? '' }}"
         class='form-control{{ contact.errors['last'] ? ' is-invalid' : '' }}'
         aria-describedby="lastStatus"
         placeholder="Last Name" />
  <span id="lastStatus" class="invalid-feedback">{{ contact.errors['last'] }}</span>
</div>
<div class="mb-3">
  <label for="phone" class="form-label">Phone</label>
  <input id="phone" name="phone"
         {% if (contact.id) %}form="edit-form"{%  endif %}
         type="tel"
         value="{{ contact.phone ?? '' }}"
         class="form-control{{ contact.errors['phone'] ? ' is-invalid' : '' }}"
         aria-describedby="phoneStatus"
         placeholder="Phone" />
  <span id="phoneStatus" class="invalid-feedback">{{ contact.errors['phone'] }}</span>
</div>
