{% extends 'layout.twig' %}

{% block body %}
  <div class="row justify-center">
    <div class="w-full md:w-1/2">
      <div class="card">
        <div class="card-body">
          <dl>
            <dt>Email</dt>
            <dd>{{ contact.email }}</dd>
            <dt>Name</dt>
            <dd>{{ contact.last }}, {{ contact.first }}</dd>
            <dt>Phone</dt>
            <dd>{{ contact.phone }}</dd>
          </dl>
          <a href="/contacts"
             class="btn btn-primary"
             role="button">
            <i class="fa fa-home"></i>
            Home
          </a>
          <a href="/contacts/{{ contact.id }}/edit"
             class="btn btn-success"
             role="button">
            <i class="fa fa-pencil"></i>
            Edit
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
