{% extends 'layout.twig' %}

{% block body %}
  <div class="row mb-4">
    <div class="w-full lg:w-1/2">
      <a href="/contacts/new" class="btn btn-outline-primary" role="button">
        <i class="fa fa-circle-plus"></i>
        Add Contact
      </a>
    </div>
    <div class="flex w-full lg:w-1/2 lg:justify-end">
      <form action="/contacts" method="get" class="row items-center">
        <input type="search"
               id="search" name="q"
               aria-label="Search"
               class="border rounded mr-0.5"
               value="{{ query }}"
               placeholder="Search Term" />
        <button type="submit" class="btn btn-outline-success">
          <i class="fa fa-search"></i>
          Search
        </button>
      </form>
    </div>
  </div>
  <div class="row mb-4">
    <table class="table-auto border border-collapse border-spacing-0.5 indent-1 w-full p-1">
      <thead>
      <tr class="[&>*]:border [&>*]:border-gray-400 [&>*]:p-2">
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody class="[&>*:nth-child(odd)]:bg-gray-100 hover:[&>*]:bg-gray-300">
      {% for contact in contacts %}
        <tr class="[&>*]:p-2 [&>*]:border">
          <td>{{ contact.first }}</td>
          <td>{{ contact.last }}</td>
          <td>{{ contact.phone }}</td>
          <td>{{ contact.email }}</td>
          <td class="justify-center flex">
            <a class="btn btn-warning"
               role="button"
               href="/contacts/{{ contact.id }}/edit">
              <i class="fa fa-pencil"></i>
              Edit
            </a>&nbsp;
            <a class="btn btn-info"
               role="button"
               href="/contacts/{{ contact.id }}">
              <i class="fa fa-eye"></i>
              View
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
      <tfoot>
      <tr>
        <td colspan="5" class="border py-1">&nbsp;</td>
      </tr>
      </tfoot>
    </table>
  </div>
{% endblock %}
